<% @groups.each do |group| %>
    <div class='container-div'>
      <nav class="w-screen flex justify-between bg-blue-500 items-center px-4">
      <div class='burger_menu'>
        <%= link_to groups_path, class: 'back_btn' do %>
            <img src="https://img.icons8.com/material-outlined/24/ffffff/back--v1.png" alt="back"/>
        <% end %>
        </div>
        <p><%= group.name %></p>
          <%= button_to "SIGN OUT", destroy_user_session_path, method: :delete, class: 'signout' %>
      </nav>
  
      <div class='mx-4 flex'>
        <p>Total amount:</p>
        <p>Kshs <%= group.entities.sum(:amount) %></p>
      </div>


      <%= button_to "Delete Category", group_path(group), method: :delete, class: 'bg-red-300 p-2 mx-4 border-round text-stone-600' %>
  
      <% group.entities.each do |entity| %>
        <div class="mx-4">
          <%= link_to group_entity_path(group, entity), class: 'entity-link' do %>
            <p><%= entity.name %><br>
               <span class='date'><%= entity.created_at.strftime("%Y-%m-%d") %></span>
            </p>
            <p>Kshs <%= entity.amount %></p>
          <% end %>
        </div>
      <% end %>
  
      <footer id='new_category' class="w-screen flex justify-center py-2 text-gray-300">
        <%= link_to 'ADD TRANSACTION', new_group_entity_path(group), class: 'text-center w-[86vw] h-14 pt-4 no-underline border-round bg-blue-500' %>
      </footer>
    </div>
  <% end %>
  